@import '../node_modules/modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&display=swap');


/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Manrope'
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', 'Manrope'
    monospace;
} */
body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Manrope', sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
p {
  margin: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}
.active {
  color: #3470ff;
  background-color: #ffffff;
  padding: 18px 44px;
  border-radius: 12px;
}